$primary-color: #f65c00;
$primary-background: #f6f5f4;
$secondary-headline: #585858;
$body-text: #3b3e4a;

body {
  font-family: "Open Sans", sans-serif;
  color: $body-text;
  line-height: 1.571428em;
  font-size: 0.875em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
}

h2,
.numbers b {
  color: $primary-color;
  font-size: 2.8125em;
  line-height: 1;
  margin-bottom: 1.5rem;
}

.numbers {
  h2 {
    margin-left: 8.3333333%;
  }
}

h3 {
  color: $secondary-headline;
  font-size: 1.375em;
  line-height: 2;
  letter-spacing: 2px;
  // text-align: center;
  text-transform: uppercase;
}

.impact {
  h3 {
    color: $primary-color;
    text-transform: none;
  }
}

.page-header {
  color: white;
  .brand-tag {
    font-size: 1.5em;
    line-height: 1.2;
  }
}

.numbers {
  b,
  h3,
  p {
    text-align: center;
    display: block;
    margin-bottom: 13px;
  }
}

.grants {
  b {
    margin-bottom: 21px;
  }
}
